*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed lightseagreen; */
}



:root{
    --bg-color-blue:#b4d0e7;
    --button-bg-blue: #0053d9;
}

h1{
    font-size: 4rem;
    padding-bottom: 1rem;
}
h2{
    font-size: 2.5rem;
    padding-bottom: 1rem;
}
h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}
h4{
    font-size: 1rem;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 0.5rem 0rem;
}
h5{
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

header nav{
    padding: 1rem;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 2;
}

li{
    list-style: none;
    padding: .5rem 0;
}
ul{
    align-items: center;
}
.card ul {
    padding-bottom: 2rem;
}
li a{
    text-decoration: none;
    color: black;
    padding: .5rem;
}

.flex{
    display: flex;
}

.logo{
    height: 100%;
    align-self: center;
}

.padding-bottom1rem{
    padding-bottom: 1rem;
}

button{
    background-color: var(--button-bg-blue);
    border: none;
    color: white;
    padding: 0.5rem;    
    align-self: center;
}

.sub-text-header{
    padding-top: 1rem;
    padding-bottom: 35%;
}
.down-arrow{
    font-size: 2rem;
}
.container1000{
    max-width: 1000px;
    margin: auto;
    position: relative;
    top: 50px;
}

.container30{
width: 30%;
}
.container70{
    width: 70%;
}
header .img70{
    width: 100%;
}

.bg-color-blue{
    background-color: var(--bg-color-blue);
    padding-top: calc(50px + .5rem);
}

.container920{
    max-width: 920px;
    margin: auto;
    padding-top: calc(50px + 2rem);  
}

.container-cards{
    padding: 1rem 0;
    justify-content: space-between;
}

.card{
    border: 1px solid lightgray;
    width: 30%;
}

.container-main-card{
    padding: 1rem 1.5rem;
}

.link-main-card{
    padding: 1rem 0;
}
.text-color-grey{
    color: #7c7977;
    padding-bottom: 2rem;
}

.gray-line{
    border-bottom: 1px solid lightgray;
    width: 30%;
    margin-bottom: 2rem
}

.container-main-card li{
    margin-left: 15%;
    position: relative;
}
.container-main-card li i{
    position: absolute;
    left: -15%;
}
.fa-check{
    color: blue;
    font-weight: bold;
}

.horizontal-card{
    border:  1px solid lightgray;
    padding: 1rem;
    padding-top: 0;
}

.main-horizontal-card{
    justify-content: space-between;
    
}

.container-partner{
    padding: 5rem 0;
}

.container-img-60{
    width: 60%;
}

.container-text-40{
    width: 40%;
    padding: 4rem;
}
.container-img-60 img{
 width: 100%;
}