*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px dashed lightseagreen; */
}



:root{
    --bg-color-blue:#b4d0e7;
    --button-bg-blue: #0053d9;
}

h1{
    font-size: 4rem;
    padding-bottom: 1rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}

header nav{
    padding: 1rem;
    height: 50px;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
}

li{
    list-style: none;
}
ul{
    align-items: center;
}
li a{
    text-decoration: none;
    color: black;
    padding: .5rem;
}

.flex{
    display: flex;
}

.logo{
    height: 100%;
    align-self: center;
}

.padding-bottom1rem{
    padding-bottom: 1rem;
}

button{
    background-color: var(--button-bg-blue);
    border: none;
    color: white;
    padding: 0.5rem;    
    align-self: center;
}

.sub-text-header{
    padding-top: 1rem;
    padding-bottom: 35%;
}
.down-arrow{
    font-size: 2rem;
}
.container1000{
    max-width: 1000px;
    margin: auto;
    position: relative;
    top: 50px;
}

.container30{
width: 30%;
}
.container70{
    width: 70%;
}
header .img70{
    width: 100%;
}

.bg-color-blue{
    background-color: var(--bg-color-blue);
    padding-top: calc(50px + .5rem);
}